*
    box-sizing: border-box

/* force scrollbar */
html
    overflow-y: scroll

body
    font-family: sans-serif

.row
    padding: 0
    margin: 0

[class^="col-sm-"],
[class^="col-lg-"],
[class^="col-lg"]
    padding: 5px
    margin: 0

@media screen and ( max-width: 450px)
    .col-12
        padding: 5px

@media screen and ( min-width: 1368px)
    [class^="col-sm-"],
    [class^="col-lg-"],
    [class^="col-lg"]
        padding: 10px
        margin: 0
