img
    width: 100%
    border-radius: 10px

figure
    margin: 0
    display: flex
    margin-bottom: 5px
    break-inside: avoid
    height: 100%

.container-grid
    column-count: 2
    column-gap: 5px
    margin: 5px

.container-grid > div
    margin-bottom: 5px

@media screen and ( min-width: 500px)
    figure
        margin-bottom: 15px

    .container-grid
        column-gap: 15px

@media screen and ( min-width: 1024px)
    figure
        margin-bottom: 15px

    .container-grid
        column-count: 4
        column-gap: 15px
