.homeImage {
  width: auto;
  height: auto;
  display: block;
  overflow: hidden;
  margin: auto;
}

.homeImage img {
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform 300ms ease;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.homeImage img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f0efeb;
}

@media screen and (min-width: 1080px) {
  div.cursors div {
    position: absolute;
    background-color: #f3f903;
    border-radius: 50%;
    z-index: 9999999;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  div.cursors div span {
    position: absolute;
    top: 0;
    left: 20px;
    cursor: crosshair !important;
    font-size: 2rem;
    line-height: 32px;
    color: #f3f903;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  div.cursors div span.visible {
    opacity: 1;
  }
}

.btn-primary {
  background-color: #010000 !important;
  border: none !important;
  border-radius: 20px !important;
  font-size: 1em !important;
}

.btn-primary:hover {
  background-color: #706f6f !important;
  -webkit-transition-duration: 0.8s !important;
          transition-duration: 0.8s !important;
}

.btn-secundary {
  background-color: #f3f903 !important;
  border: none !important;
  border-radius: 50px !important;
  font-size: 1em !important;
}

body {
  color: #010000;
  letter-spacing: -1px;
}

hr {
  border-top: 1.5px solid rgba(0, 0, 0, 0.1);
}

.arrow {
  font-size: 20px;
}

p {
  margin: 0;
}

.p-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.p-texto {
  padding-bottom: 6vh !important;
}

a {
  color: #010000;
}

a:hover {
  color: #706f6f;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

h1 {
  font-size: 4em;
  letter-spacing: -3px;
  word-spacing: 0px;
  line-height: 100%;
}

h4 {
  font-size: 1.3em;
  margin: 0;
  line-height: 1.27;
}

.link {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}

h5 {
  font-size: 1.3em;
  margin: 0;
}

h2 {
  color: #706f6f;
  font-family: 'Helvetica Now Text';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: local("Helvetica Now Text Regular"), local("Helvetica-Now-Text--Regular"), url("HelveticaNowText-Regular.woff2") format("woff2"), url("HelveticaNowText-Regular.woff") format("woff"), url("HelveticaNowText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@media screen and (min-width: 1080px) {
  h1 {
    font-size: 10em;
    margin-left: -10px;
    letter-spacing: -8px;
    word-spacing: 0px;
    line-height: 90%;
  }
  h4 {
    font-size: 2em;
  }
  h5 {
    font-size: 4em;
    letter-spacing: -3px;
  }
  h6 {
    font-size: 1.3em;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar */
html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
}

.row {
  padding: 0;
  margin: 0;
}

[class^="col-sm-"],
[class^="col-lg-"],
[class^="col-lg"] {
  padding: 5px;
  margin: 0;
}

.col-6 {
  padding-left: 0px;
}

@media screen and (min-width: 1368px) {
  [class^="col-sm-"],
  [class^="col-lg-"],
  [class^="col-lg"] {
    padding: 10px;
    margin: 0;
  }
}

video {
  width: 100%;
}

.image-zoom,
.image-zoom-wrapper::after {
  -webkit-transition-timing-function: ease-in-out !important;
          transition-timing-function: ease-in-out !important;
  -webkit-transition-duration: 2.3s !important;
          transition-duration: 2.3s !important;
}

.image-zoom-wrapper::after {
  background-color: #f0efeb !important;
}

#header {
  background: #f0efeb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0efeb), color-stop(11%, rgba(247, 247, 247, 0.987)), color-stop(20.8%, rgba(247, 247, 247, 0.951)), color-stop(29.6%, rgba(247, 247, 247, 0.896)), color-stop(37.5%, rgba(247, 247, 247, 0.825)), color-stop(44.6%, rgba(247, 247, 247, 0.741)), color-stop(51%, rgba(247, 247, 247, 0.648)), color-stop(57%, rgba(247, 247, 247, 0.55)), color-stop(62.5%, rgba(247, 247, 247, 0.45)), color-stop(67.7%, rgba(247, 247, 247, 0.352)), color-stop(72.7%, rgba(247, 247, 247, 0.259)), color-stop(77.8%, rgba(247, 247, 247, 0.175)), color-stop(82.9%, rgba(247, 247, 247, 0.104)), color-stop(88.2%, rgba(247, 247, 247, 0.049)), color-stop(93.9%, rgba(247, 247, 247, 0.013)), to(rgba(247, 247, 247, 0)));
  background: linear-gradient(180deg, #f0efeb 0, rgba(247, 247, 247, 0.987) 11%, rgba(247, 247, 247, 0.951) 20.8%, rgba(247, 247, 247, 0.896) 29.6%, rgba(247, 247, 247, 0.825) 37.5%, rgba(247, 247, 247, 0.741) 44.6%, rgba(247, 247, 247, 0.648) 51%, rgba(247, 247, 247, 0.55) 57%, rgba(247, 247, 247, 0.45) 62.5%, rgba(247, 247, 247, 0.352) 67.7%, rgba(247, 247, 247, 0.259) 72.7%, rgba(247, 247, 247, 0.175) 77.8%, rgba(247, 247, 247, 0.104) 82.9%, rgba(247, 247, 247, 0.049) 88.2%, rgba(247, 247, 247, 0.013) 93.9%, rgba(247, 247, 247, 0));
  padding: 10px;
}

.block-header {
  height: 30vh;
}

.block-header2 {
  height: 2vh;
}

@media screen and (min-width: 1080px) {
  .block-header2 {
    height: 5vh;
  }
}

body {
  background: #f0efeb;
  font-family: 'Helvetica Now Text';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  margin: 0px 5px;
  cursor: crosshair;
}

@media screen and (min-width: 1080px) {
  body {
    margin: 15px;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/*# sourceMappingURL=style.css.map */